chardet
Django
django-bootstrap3
django-celery
django-filter
django-grappelli
django-guardian
django-mongonaut
django-simple-captcha
django-tables2
django-templateaddons
djangorestframework
elasticsearch
kombu
Markdown
mongoengine
amqp
anyjson
xlwt
gunicorn
django-redis
elasticutils
pybloom
